<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>MacRuby</string>
	<key>ordering</key>
	<array>
		<string>2B513604-00DE-4EA9-9216-5DE83E832B4D</string>
		<string>85DD4522-0311-4FA2-B26F-800FE1BCFD94</string>
		<string>441917AF-9555-481D-99CD-251D2C557E39</string>
	</array>
	<key>uuid</key>
	<string>44BDB8B4-85AF-4582-9822-0CFD05E2E87A</string>
</dict>
</plist>
