<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="../../../css/macromates.css" charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body id="intro">
    <div id="wrapper">
      <div id="header" onclick="javascript:window.location='/macruby-tmbundle/'">
        <h1>
          MacRuby.tmbundle - TextMate bundle for MacRuby
        </h1>
      </div>
      <div id="navigation">
        <ul>
          <li id="navi_intro">
            <a href="/macruby-tmbundle/">Intro</a>
          </li>
          <li id="navi_blog">
            <a href="/macruby-tmbundle/posts/">Blog</a>
          </li>
          <li id="navi_source">
            <a href="http://github.com/drnic/macruby-tmbundle">Source</a>
          </li>
          <li id="navi_tickets">
            <a href="http://drnic.lighthouseapp.com/projects/22212-tmbundles/tickets?q=tagged%3Amacruby">Tickets</a>
          </li>
          <li id="navi_textmate">
            <a href="http://www.macromates.com/">TextMate</a>
          </li>
          <li id="navi_macruby">
            <a href="http://www.macruby.com/">MacRuby</a>
          </li>
        </ul>
      </div>
      <div id="page_body">
        <div id="content">
          {{ content }}
        </div>
        <div id="sidebar">
          <div class="item">
            <!-- Tickets   -->
            <a href="http://drnic.lighthouseapp.com/projects/22212-tmbundles/tickets?q=tagged%3Amacruby" id="tickets" name="tickets">Tickets</a>
            <h4>
              Tickets
            </h4>
            <p>
              Found a bug?<br />
              Request a feature?
            </p>
          </div>
          <div class="item">
            <!-- Blog   -->
            <a href="../../../atom.xml" id="rss_feed" name="rss_feed">Blog Posts</a>
            <h4>
              Blog Posts
            </h4>
            <p>
              {% for post in site.posts %} 
                <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}">{{ post.title }}</a><br>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
      <div id="footer">
        <p><a href="http://github.com/drnic/macruby-tmbundle/tree/gh-pages" title="drnic's macruby-tmbundle at gh-pages &mdash; GitHub">website source</a> | TextMate is awesome | MacRuby is awesome | <a href="http://drnicwilliams.com/" title="Dr Nic">Dr Nic</a> @ <a href="http://mocra.com" title="Mocra - the premier iPhone/Rails consultancy">Mocra</a></p>
      </div>
    </div>
    <a href="http://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  </body>
</html>
